<section class="contact-me-section">
  <div class="flex-column lets-work-container">
    <div class="flex-column intro-container">
      <h3 class="span-with-Karla-100pc-400weight-lightGreen">Contact me</h3>
      <h1 class="firaCode-with-700Weight-64Px">Let's work together</h1>
    </div>
    <div class="flex-column problem-container">
      <h2 class="firaCode-with-700Weight-64Px">Got a problem to solve?</h2>
      <p class="span-with-Karla-100pc-400weight font-16-px">
        Encourage people to contact you and describe what role you are
        interested in. Show that you will add value to their projects through
        your work.
        <br/><br/>
        Need a Frontend developer?
        <span class="span-with-Karla-100pc-400weight-lightGreen talk-content"
          >Let’s talk!</span
        >
      </p>
    </div>
  </div>

  <form class="flex-column contact-formular-container" (submit)="checkFormular(contactForm)" #contactForm="ngForm">
    <div>
      <div class="flex-column name-form">
        <div class="flex-column name-and-input">
          <label for="inputName" class="firaCode-with-700Weight-64Px">What's your name?</label>
          <input required #inputName="ngModel" name="inputName" [(ngModel)]="contactData.name" placeholder="Your name goes here" type="text" />
          @if(!inputName.valid && inputName.touched){
            <span>Please Enter a Message</span>
          }
        </div>
      </div>
      <div class="flex-column name-form">
        <div class="flex-column name-and-input">
          <label for="inputEmail" class="firaCode-with-700Weight-64Px">What's your email?</label>
          <input required #intputEmail="ngModel" name="inputEmail" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          [(ngModel)]="contactData.email" placeholder="youremail&#64;email.com" type="text" />
          @if(!intputEmail.valid && intputEmail.touched){
            <span>Please Enter a Message</span>
          }
        </div>
      </div>
      <div class="flex-column name-form">
        <div class="flex-column name-and-input">
          <label for="inputMessage" class="firaCode-with-700Weight-64Px">How can I help you?</label>
          <input required #inputMessage="ngModel" name="message" minlength="4" [(ngModel)]="contactData.message" placeholder="Hello Bastian, I am interested in..." type="text" />
          @if(!inputMessage.valid && inputMessage.touched){
            <span>Please Enter a Message</span>
          }
        </div>
      </div>
    </div>
    <div class="policy-and-suibmit-container">
      <div class="policy-and-suibmit-content">
        <div class="checkbox-container">
          <div class="checkbox-imgs checkbox-default">
            <img *ngIf="!buttonChecked" class="default" src="./../../../assets/img/Checkbox_default.png" alt="">
            <img *ngIf="!buttonChecked" (click)="checkButtonPolicy()" class="hidden" src="./../../../assets/img/Checkbox_default_hover.png" alt="">
            <img *ngIf="buttonChecked" class="hidden-checked" src="./../../../assets/img/Checkbox_checked.png" alt="">
            <img *ngIf="buttonChecked" (click)="checkButtonPolicy()" class="hidden-checked-hover" src="./../../../assets/img/Checkbox_checked_hover.png" alt="">
            <input type="checkbox" name="checkbox" [(ngModel)]="buttonChecked">
          </div>
          <p class="span-with-Karla-100pc-400weight">
            I've read the <a class="firaCode-with-700Weight-64Px" href="">privacy policy</a> and agree to the processing of
            my data as outlined.
          </p>
        </div>
        <button class="span-with-Karla-100pc-400weight">Say Hello ;)</button>
      </div>
    </div>
  </form>
</section>
