@import "./../../../styles.scss";

.flex-column {
    display: flex;
    flex-direction: column;
}

.contact-me-section {
    width: 1248px;
    height: 541px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-bottom: 144px;

    >div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.lets-work-container {
    gap: 40px;
    width: 568px;
    height: 337px;
}

.intro-container {
    gap: 20px;

    >h3 {
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
    }

    >h1,
    h3 {
        margin: 0;
    }
}

.problem-container {
    width: 568px;
    height: 121px;
    gap: 16px;
    border-radius: 30px;
    backdrop-filter: blur(4px);

    >h2 {
        font-size: 24px;
        line-height: 120%;
        letter-spacing: 0;
        margin: 0;
    }

    >p {
        margin: 0;
    }
}

.font-16-px,
.talk-content {
    font-size: 16px;
}

.talk-content {
    font-weight: 700;
}

.contact-formular-container {
    width: 616px;
    height: 550px;
    gap: 40px;
}

.input-cotainer {
    border-top: 1px solid #3DCFB6;
}

.name-container.hovered-bottom-name {
    border-bottom: 1px solid #3DCFB6;
}

.email-container.hoverd-bottom-email {
    border-bottom: 1px solid #3DCFB6;
}

.input-container {
    width: 352px;
    height: 67px;
    gap: 16px;


    >label {
        width: 290px;
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        letter-spacing: 0;
        margin: 0;
    }

    >input {
        background-color: rgba(28, 28, 28, 1);
        border: none;
        color: white;

        ::after {
            background-color: rgba(28, 28, 28, 1);
            border: none;
            color: white;
        }
    }
}



input.ng-invalid.ng-touched::placeholder {
    color: #EC7B7BCC !important;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0;
}

@keyframes showerror {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.name-form {
    width: 584px;
    gap: 10px;
    padding: 32px 0 32px 32px;
    border-bottom: 1px solid #3DCFB680;
    transition: color 300ms ease-out, border-color 300ms ease-out;

    &:hover {
        cursor: pointer;
        border-bottom: 1px solid #3DCFB6;

        ::placeholder {
            color: #FFFFFF;
        }
    }
}



::placeholder {
    font-family: 'Karla';
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0;
    color: #FFFFFFCC;

    .showsmooth {
        animation: showerror 300ms linear forwards;
    }

}

input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.policy-and-suibmit-container {
    display: flex;
    justify-content: center;
    width: 616px;
    gap: 16px;
}

.policy-and-suibmit-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    >button {
        width: 140px;
        height: 48px;
        border-radius: 100px;
        border: 1px solid #FFFFFF80;
        padding: 0 24px 0 24px;
        background-color: rgba(28, 28, 28, 1);
        color: #FFFFFFCC;
        overflow: hidden;

        &:hover {
            cursor: pointer;
        }
    }
}

.ngForm-valid {
    transition: color 300ms ease-out, border-color 300ms ease-out;
    border-color: #FFFFFF !important;

    >span {
        display: inline-block;
        color: #FFFFFF;
    }

    &:hover {
        border-color: $light_green !important;

        >span {
            color: $light_green;
            animation: slideTextSkill 2500ms linear forwards infinite;
        }

    }

}

@keyframes slideTextSkill {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-130%);
        visibility: hidden;
    }

    51% {
        transform: translateX(160%);
        visibility: hidden;
    }

    60% {
        transform: translateX(130%);
    }

    100% {
        transform: translateX(0);
    }
}


.checkbox-container {
    display: flex;
    gap: 8px;
    flex-direction: column;

    >p {
        >span {
            color: #EC7B7B;
        }
    }
}

.checkbox-imgs {
    >img {
        &:hover {
            cursor: pointer;
        }
    }
}

.checkbox-default {
    display: flex;
    align-items: center;
    gap: 8px;

    >p {
        font-size: 15px;
        margin: 0;

        >a {
            font-weight: 400;
            font-size: 15px;
            line-height: 120%;
            letter-spacing: -3px;
            text-decoration: none;
            padding: 5px 4px 5px 4px;

            &:hover {
                color: #FFFFFF;
                border-bottom: 1px solid #3DCFB6
            }
        }
    }

    >input {
        display: none;
    }
}

.default-container {
    &:hover {
        cursor: pointer;

        .default {
            display: none;
        }

        .hidden {
            display: block;
        }

    }
}

.check-container {
    &:hover {
        cursor: pointer;

        .hidden-checked {
            display: none;
        }

        .hidden-checked-hover {
            display: block;
        }

    }
}

.checkmark {
    height: 25px;
    width: 25px;
    border: solid #3DCFB6;
}

.default {
    display: block;
}

.hidden {
    display: none;
}

.hidden-checked {
    display: block;
}

.hidden-checked-hover {
    display: none;
}

.pop-up-dialog-container {
    opacity: 0;
    animation: fadeIn 500ms ease-in forwards;
    position: fixed;
    display: flex;
    background-color: rgba(0, 0, 0, 0.374) !important;
    z-index: 999;
    inset: 0;
    align-items: center;
    justify-content: center;
}

.fadeout {
    animation: fadeOut 500ms ease-in forwards ;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}