<section class="contact-me-section">
  <div class="flex-column lets-work-container">
    <div class="flex-column intro-container">
      <h3 class="span-with-Karla-100pc-400weight-lightGreen">Contact me</h3>
      <h1 class="firaCode-with-700Weight-64Px">Let's work together</h1>
    </div>
    <div class="flex-column problem-container">
      <h2 class="firaCode-with-700Weight-64Px">Got a problem to solve?</h2>
      <span class="span-with-Karla-100pc-400weight font-16-px">
        Encourage people to contact you and describe what role you are
        interested in. Show that you will add value to their projects through
        your work.
        <br /><br />
        Need a Frontend developer?
        <span class="span-with-Karla-100pc-400weight-lightGreen talk-content"
          >Let’s talk!</span
        >
      </span>
    </div>
  </div>

  <form class="flex-column contact-formular-container" action="">
    <div>
      <div class="flex-column name-form">
        <div class="flex-column name-and-input">
          <span class="firaCode-with-700Weight-64Px">What's your name?</span>
          <input placeholder="Your name goes here" type="text" />
        </div>
      </div>
      <div class="flex-column name-form">
        <div class="flex-column name-and-input">
          <span class="firaCode-with-700Weight-64Px">What's your email?</span>
          <input placeholder="youremail&#64;email.com" type="text" />
        </div>
      </div>
      <div class="flex-column name-form">
        <div class="flex-column name-and-input">
          <span class="firaCode-with-700Weight-64Px">How can I help you?</span>
          <input placeholder="Hello Lukas, I am interested in..." type="text" />
        </div>
      </div>
    </div>
    <div class="flex-column policy-and-suibmit-container">
      <div class="policy-and-suibmit-content">
        <div class="checkbox-container">
          <img class="default" src="./../../../assets/img/Checkbox_default.png" alt="">
          <img class="hidden" src="./../../../assets/img/Checkbox_default_hover.png" alt="">
          <img class="hidden-checked" src="./../../../assets/img/Checkbox_checked.png" alt="">
          <img class="hidden-checked" src="./../../../assets/img/Checkbox_checked_hover.png" alt="">
        </div>

        <span class="span-with-Karla-100pc-400weight">
          I've read the <a class="firaCode-with-700Weight-64Px" href="">privacy policy</a> and agree to the processing of
          my data as outlined.
        </span>
      </div>
      <button>Say Hello</button>
    </div>
  </form>
</section>
