<section class="about-me-container">
  <div class="about-me-img">
    <img src="./../../../assets/img/Portfolio_man_Devices.png" alt="" />
  </div>
  <div class="about-me-content">
    <h2>Who I Am</h2>
    <div class="about-me-div">
      <h1>About me</h1>
      <div class="me-content">
        <div>
          <span class="span-with-Karla-100pc">
            Hey there, I'm Lukas! Write some information about yourself that is
            IT related. Why are you passionate about coding? What is your source
            of inspiration for improving your programming skills?
          </span>
        </div>
        <div class="personality-container">
          <div class="personality-content">
            <img src="./../../../assets/img/location_on.png" alt="" />
            <span class="span-with-Karla-80pc">
              I'm from a village near the beautiful City Brunswick. I would like
              to work near Brunswick and Hanover. But in principle I wouldn't
              mind working remotely.
            </span>
          </div>
          <div class="personality-content">
            <img src="./../../../assets/img/cognition.png" alt="" />
            <span class="span-with-Karla-80pc">
              Show that you are open-minded. Are you enthusiastic about learning
              new technologies and continually improving your skills?
            </span>
          </div>
          <div class="personality-content">
            <img src="./../../../assets/img/new_releases.png" alt="" />
            <span class="span-with-Karla-80pc">
              A brief description of your problem-solving approach. Do you learn
              from each challenge as you search for the most efficient or
              elegant solution? You can include some keywords like: analytical
              thinking, creativity, persistence and collaboration.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
