@import "./../../../styles.scss";

.about-me-container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.about-me-img {
    background-image: url('./../../../assets/img/me-portfolio.jpg');
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    position: relative;

    >img {
        width: 300px;
        height: 300px;
        position: absolute;
        z-index: -1;
    }

    &:hover {
        >img {
            animation: backgroundimg 200ms ease-in forwards;
        }
    }
}

.backgroundimg-animation {
    animation: backgroundimg 250ms ease-in forwards;
}

@keyframes backgroundimg {
    0% {
        left: 0;
        top: 0;
    }

    50% {
        left: -3, 5px;
        top: -7, 5px;
    }

    100% {
        left: -7px;
        top: 15px;
    }
}

.backgroundimg-final {
    left: -7px !important;
    top: 15px !important;
}

.about-me-content {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    margin: 40px 0 0px 0;

    >h2 {
        color: $light_green;
        font-family: 'Karla';
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0;
        margin: 0;
    }
}

.about-me-div {
    background-color: #3DCFB61A;
    border: 1px solid $light_green;
    border-radius: 30px;

    >h1 {
        color: $light_green;
        font-family: 'Fira Code';
        font-weight: 700;
        font-size: 53px;
        line-height: 80%;
        letter-spacing: -3px;
        padding: 27px 32px 0 32px;

        margin: 0;
    }
}

.me-content {
    padding: 32px 32px 27px 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.me-span {
    >span {
        font-size: 16px;
    }
}

.personality-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.personality-content {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 24px;

    >img {
        width: 22px;
        height: 26px;
    }

    >span {
        font-size: 16px;
        transition: color 100ms ease-in;
    }

    &:hover {
        >span {
            color: #FFFFFF;
        }

    }
}

@media only screen and (min-width: 925px) {
    .about-me-container {
        flex-direction: row;
        align-items: normal;
        gap: 96px;
        margin-bottom: 144px
    }

    .about-me-img {
        width: 368px;
        height: 490px;

        >img {
            width: 368px;
            height: 490px;
        }
    }

    .about-me-content {
        width: 430px;
        margin: 98px 0 22px 0;

        >h2 {
            font-size: 24px;
        }
    }

    .about-me-div {
        >h1 {
            padding: 32px 64px 0 32px;
        }
    }

    .me-content {
        padding: 40px 32px 32px 32px;
    }
}

@media only screen and (min-width: 1270px) {
    .about-me-img {
        width: 568px;
        height: 568px;

        >img {
            width: 568px;
            height: 568px;
        }
    }

    .about-me-content {
        width: 568px;
    }
}