@import "./../../../styles.scss";

.landing-container {
    height: 100vh;
    max-width: 1440px;
    width: 1440px;
    background-image: linear-gradient(to top right, $medium_black 45%, $dark_green 100%);
}

.landing-content {
    display: flex;
    flex-direction: column;
    gap: 218px;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    >h2,
    h1 {
        color: #D9D9D9;
        text-align: center;
    }

    >h2 {
        font-weight: 400;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: 0px;
        font-family: 'Fira Code';
    }

    >h1 {
        font-size: 128px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: -2px;
        font-family: 'Karla';
    }
}

.title-buttons {
    display: flex;
    gap: 48px;
    height: 48px;

    >button {
        color: #FFFFFF;
        font-family: 'Karla';
        background-color: transparent;
        border: 1px solid #FFFFFF;
        border-radius: 100px;
        padding: 0 24px 0 24px;
        font-size: 18px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0;
    }
}

.lateral-container {
    display: flex;
    justify-content: space-between;
    padding: 0 96px 0 96px;
    position: relative;
}

.left-lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30px;
    height: 312px;
    gap: 24px;



}

.arrow-down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid $light_green;
    width: 30px;
    height: 48px;
    border-radius: 32px;
    padding-top: 0px;

    >span {
        text-align: center;
        color: #FFFFFF;

        &:hover {
            cursor: pointer;
        }
    }
}

.left-seperator {
    background-color: $light_green;
    width: 1px;
    height: 240px;
}

.right-lateral {
    display: flex;
    flex-direction: column;
    height: 480px;
    width: 32px;
    gap: 24px;

    >a {
        color: #FFFFFF;
        text-decoration: none;
        rotate: -90deg;

        &:hover {
            color: $light_green;
        }
    }
}

.right-seperator {
    height: 186px;
    border: 1px solid #FFFFFF;
    width: 0px;
    margin: 0 16px 0 16px;
}

.marquee-container {
    height: 62px;
    max-width: 1440px;
    width: 1440px;
    overflow-x: hidden;
    rotate: 357deg;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(5.300000190734863px);
    z-index: 20;
    position: absolute;
    left: 0px;
    top: 214px;
}

.adds-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 56px;
    position: absolute;
    left: 0px;
    animation: leftband 10s infinite linear;

    @keyframes leftband {
        from {
            transform: translateX(0%);
        }

        to {
            transform: translateX(-51%);
        }
    }

    >span {
        color: $light_green;
        font-family: 'Karla';
        font-weight: 400;
        font-size: 32px;
        line-height: 120%;
        text-align: center;
        text-wrap: nowrap;
    }

    >p {
        margin: 0;
        display: block;
        height: 6.5px;
        width: 6.5px;
        background-color: $light_green;
        border-radius: 59%;
    }
}