<section class="landing-container">
  <div class="landing-content">
    <app-navbar></app-navbar>
    <div class="title-container">
      <h2>Frontend Developer</h2>
      <h1>Bastian Klawes</h1>
      <div class="title-buttons">
        <button>Check my work</button>
        <button>Contact me</button>
      </div>
    </div>
    <div class="lateral-container">
      <div class="left-lateral">
        <div class="arrow-down">
          <span>&darr;</span>
        </div>
        <div class="left-seperator"></div>
      </div>
      <div class="right-lateral">
        <a href="mailto:">bastinklawes&#64;gmail.com</a>
        <div>
          <a href=""><img src="./../../../assets/img/Github.png" alt="" /></a>
          <a href=""><img src="./../../../assets/img/Linkedin.png" alt="" /></a>
        </div>
        <div class="right-seperator"></div>
      </div>
    </div>
  </div>
</section>
