<section class="landing-container">
  <main class="landing-content">
    <app-navbar></app-navbar>
    <div class="title-container">
      <h2>{{ 'landing.branch' | translate }}</h2>
      <h1>Bastian Klawes</h1>
      <div class="title-buttons">
        <button (click)="scrollTo('projects')"><span>{{ 'landing.work' | translate }}</span></button>
        <button (click)="scrollTo('contact')"><span>{{ 'landing.me' | translate }}</span></button>
      </div>
    </div>
    <div class="lateral-container">
      <div class="left-lateral">
        <div class="arrow-down">
          <span>&darr;</span>
        </div>
        <div class="left-seperator"></div>
      </div>
      <aside class="marquee-container">
        <div class="adds-content">
          <p></p>
          <span>{{ 'landing.remote' | translate }}</span>
          <p></p>
          <span>{{ 'landing.branch' | translate }}</span>
          <p></p>
          <span>{{ 'landing.location' | translate }}</span>
          <p></p>
          <span>{{ 'landing.ready' | translate }}</span>
          <p></p>
          <span>{{ 'landing.remote' | translate }}</span>
          <p></p>
          <span>{{ 'landing.branch' | translate }}</span>
          <p></p>
          <span>{{ 'landing.location' | translate }}</span>
          <p></p>
          <span>{{ 'landing.ready' | translate }}</span>
          <p></p>
          <span>{{ 'landing.remote' | translate }}</span>
          <p></p>
          <span>{{ 'landing.branch' | translate }}</span>
          <p></p>
          <span>{{ 'landing.location' | translate }}</span>
          <p></p>
          <span>{{ 'landing.ready' | translate }}</span>
        </div>
      </aside>
      <div class="right-lateral">
        <a href="mailto:">bastianklawes&#64;gmail.com</a>
        <div class="links-imgs">
          <a class="github-container" href="https://github.com/Nemesis502" target="_blank">
            <div class="github-content"></div>
            <span></span>
          </a>
          <a class="linkedin-container" href="https://www.linkedin.com/in/bastian-klawes-b516b0318/" target="_blank">
            <div class="linkedin-content"></div>
            <span></span>
          </a>
        </div>
        <div class="right-seperator"></div>
      </div>
    </div>
  </main>
</section>
