@import "./../../../styles.scss";

@media only screen and (min-width: 925px) {
    .landing-container {
        width: 100vw;
    }

    .title-container {
        margin: 218px 0 0 0;


        >h2 {
            font-size: 40px;
        }

        >h1 {
            font-size: 128px;
        }
    }

    .title-buttons {
        display: flex;
        gap: 48px;
        height: 35px;

        >button {
            color: #FFFFFF;
            font-family: 'Karla';
            background-color: transparent;
            border: 1px solid #FFFFFF;
            border-radius: 100px;
            padding: 0 24px 0 24px;
            font-size: 12px;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: 0;
            cursor: pointer;
            transition: color 300ms ease-out, border-color 300ms ease-out;
            overflow: hidden;

            span {
                display: inline-block;
                animation: none;
            }

            &:hover {
                color: $light_green;
                border-color: $light_green;

                >span {
                    animation: slideText 2500ms linear forwards infinite;
                }
            }
        }
    }

    .lateral-container {
        align-items: normal;
        padding: 0 96px 0 96px;
    }

    .right-lateral {
        height: 480px;
    }

    .right-seperator {
        height: 186px;
    }
}

@media only screen and (min-width: 1200px) {
    .mail-link {
        display: block;
    }

    .mail-content {
        display: none;
    }
}

@keyframes slideText {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-130%);
        visibility: hidden;
    }

    51% {
        transform: translateX(160%);
        visibility: hidden;
    }

    60% {
        transform: translateX(130%);
    }

    100% {
        transform: translateX(0);
    }
}