@import "./../../../styles.scss";

.flex-column {
    display: flex;
    flex-direction: column;
}

.featured-projects-section {
    width: 1440px;
    max-width: 1440px;
    height: 581px;
    margin-bottom: 144px;
}

.featured-projects-container {
    padding: 0 0 0 96px;
}

.headline-container {
    width: 622px;
    height: 122px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.projects-descriptions {
    padding: 41px 0 41px 0;
    height: 44px;
    width: 456px;
}

.featured-projects-content {
    display: flex;
    flex-direction: row;
    gap: 72px;
}

.featured-projects-divs {
    width: 880px;
    height: 327px;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: $light_green;
}

.single-project {
    height: 109px;
    width: 880px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $light_green;
    position: relative;

    &:hover {
        cursor: pointer;
        background-color: #3DCFB64D;

    }

    &:hover .preview-divs {
        display: block;
    }

    >h3 {
        padding: 0 0 0 32px;
        margin: 0;
        line-height: 120%;
        font-size: 24px;
        color: #FFFFFF;
    }

    >span {
        padding: 0 32px 0 0;
    }

}

.special-span {
    color: $light_green;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0;
    padding: 0 4px 0 4px;
}

.preview-divs {
    position: absolute;
    display: none;
    right: -402px;
}

.top {
    top: -18px;
}

.bottom {
    bottom: -44px;
}


.preview-img {
    width: 295px;
    height: 192px;
    border-radius: 16px;
}

.background-capa {
    width: 292px;
    height: 192px;
    position: absolute;
    top: 18px;
    left: 18px;
    z-index: -1;
}

.featured-projects-dialog-container {
    position: fixed;
    display: flex;
    background-color: rgba(0, 0, 0, 0.374) !important;
    z-index: 999;
    inset: 0;
    align-items: center;
}

.dialog-open {
    overflow: hidden;
}

.featured-projects-dialog {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 88px;
    width: 1248px;
    height: 656px;
    border-radius: 30px;
    border: $light_green, solid, 1px;
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
    z-index: 1000;
}

.left-details-container {
    width: 480px;
    height: 560px;
    gap: 40px;
    padding: 0 0 0 80px;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 24px;

    >h1 {
        font-size: 128px;
        letter-spacing: -2px;
    }

    >h2 {
        line-height: 80%;
        color: #FFFFFF;
    }

    >h1,
    h2 {
        margin: 0;
    }
}

.description-container {
    gap: 32px;
}

.intro {
    gap: 20px;

    >h3 {
        margin: 0;
        font-size: 24px;
        line-height: 120%;
        letter-spacing: 0;
    }
}

.technologies-container {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    width: 480px;

}

.technologies-description {
    display: flex;
    align-items: center;
    gap: 4px;


    >span {
        font-size: 16px;
    }
}

.preview-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 80px 0 0;
    height: 600px;
    width: 520px;

    >img {
        height: 370px;
        width: 520px;
        border-radius: 30px;
    }
}

.dialog-close-container {
    width: 520px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 39px;

    &:hover {
        cursor: pointer;

        .low-default {
            display: none;
        }

        .high-hover {
            display: block;
        }

    }
}

.link-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.link-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    height: 48px;
    width: 130px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;

    >a {
        text-decoration: none;
    }

    &:hover {
        cursor: pointer;
        border-color: $light_green;

        >span {
            color: $light_green;
        }

        .low-default {
            display: none;
        }

        .high-hover {
            display: block;
        }
    }
}

.next-project-container {
    width: 520px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 48px;

    >span {
        color: $light_green;
    }

    &:hover {
        cursor: pointer;

        >span {
            color: #FFFFFF;
        }

        .low-default {
            display: none;
        }

        .high-hover {
            display: block;
        }

    }
}

.low-default {
    display: block;
}

.high-hover {
    display: none
}