<section class="featured-projects-section">
  <div class="featured-projects-container">
    <div class="headline-container">
      <h2 class="span-with-Karla-100pc-700weight">Portfolio</h2>
      <h1 class="firaCode-with-700Weight-64Px">Featured Projects</h1>
    </div>
    <div class="projects-descriptions">
      <span class="span-with-Karla-100pc-400weight">
        Explore a selection of my work here - Interact with projects to see my
        skills in action.
      </span>
    </div>
    <div class="featured-projects-content">
      <div class="single-project">
        <h3 class="span-with-Karla-100pc-700weight">Join</h3>
        <span class="span-with-Karla-100pc-400weight"
          >HMTL
          <span class="special-span">|</span> CSS
          <span class="special-span">|</span>
          JavaScript
          <span class="special-span">|</span>
          Firebase</span
        >
      </div>
      <div class="single-project">
        <h3 class="span-with-Karla-100pc-700weight">EL Pollo Loco</h3>
        <span class="span-with-Karla-100pc-400weight"
          >HMTL
          <span class="special-span">|</span> CSS
          <span class="special-span">|</span>
          JavaScript</span
        >
      </div>
      <div class="single-project">
        <h3 class="span-with-Karla-100pc-700weight">DA Bubble</h3>
        <span class="span-with-Karla-100pc-400weight"
          >Angular
          <span class="special-span">|</span>
          Firebase
          <span class="special-span">|</span>
          TypeScript</span
        >
      </div>
    </div>
  </div>
</section>
