@import "./../../../styles.scss";

@media only screen and (min-width: 925px) {
    .featured-projects-section {
        width: -webkit-fill-available;
        margin: 0 96px 100px 96px;
    }

    .featured-projects-container {
        width: 580px;
    }

    .featured-projects-divs {
        height: 327px;
    }

    .single-project {
        height: 109px;
        // width: 880px;
        align-items: center;
        flex-direction: row;

        >h3 {
            padding: 0 0 0 32px;
        }

        >span {
            padding: 0 32px 0 0;
        }
    }

    .projects-descriptions {
        width: 456px;

        >span {
            font-size: 18px;
        }
    }

    .headline-container {
        width: max-content;
        gap: 20px;
    }

    .preview-divs {
        display: block;
        right: -300px;
    }
}

@media only screen and (min-width: 1000px) {
    .preview-divs {
        right: -320px;
    }
}

@media only screen and (min-width: 1100px) {
    .preview-divs {
        right: -350px;
    }
}

@media only screen and (min-width: 1258px) {
    .featured-projects-container {
        width: 750px;
    }

    .preview-divs {
        right: -402px;
    }
}

@media only screen and (min-width: 1420px) {
    .featured-projects-container {
        width: 880px;
    }
}


.next-project-container-desktop {
    // width: 520px;
    display: none;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    // margin-top: 48px;

    >span {
        color: $light_green;
    }

    .low-default {
        opacity: 1;
        transition: opacity 150ms ease-in-out;
    }

    .high-hover {
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }

    &:hover {
        cursor: pointer;

        >span {
            transition: color 10ms ease-out;
            color: #FFFFFF;
        }
    }

    &:hover .arrow-outward-container .low-default {
        animation: fadeOut 50ms ease-in forwards;
    }

    &:hover .arrow-outward-container .high-hover {
        animation: fadeIn 50ms ease-in forwards;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}