<section class="skills-container">
  <div class="skill-set-container">
    <h2 class="span-with-Karla-100pc-700weight">Technologies</h2>
    <div class="skills-descriptions-container">
      <h1>Skill Set</h1>
      <div>
        <div>
          <span>
            A short introduction of your skills. Highlight your experience of
            using different front-end technologies and emphasise your openness
            to learning and adapting to new technologies. Show how important it
            is for you to keep up with the rapid changes in web development.
          </span>
        </div>
        <div>
          <h2>You need another skill?</h2>
          <span
            >Feel free to contact me. I look forward to expanding on my previous
            knowledge.</span
          >
        </div>
      </div>
      <button>Let's Talk</button>
    </div>
  </div>
  <div></div>
</section>
