<section data-aos="fade-left" class="skills-container">
  <div class="skill-set-container">
    <h2 class="span-with-Karla-100pc-700weight">{{ 'skills.technologies' | translate }}</h2>
    <div class="skills-descriptions-container">
      <h1>{{ 'skills.set' | translate }}</h1>
      <div class="skills-descriptions-content">
        <div class="skills-descriptions">
          <span class="span-with-Karla-80pc">
            {{ 'skills.description' | translate }}
          </span>
        </div>
        <div class="another-skill-container">
          <h2 class="span-with-Karla-100pc-700weight">
            {{ 'skills.need' | translate }} <span>{{ 'skills.another' | translate }}</span>
          </h2>
          <span class="span-with-Karla-100pc-400weight">
            {{ 'skills.fell-free' | translate }}
          </span>
        </div>
      </div>
      <div class="contact-button">
        <button
          (click)="scrollToContact('contact')"
          class="span-with-Karla-80pc">
          <span>{{ 'skills.talk' | translate }}</span>
        </button>
      </div>
    </div>
  </div>
  <div class="show-skill-container">
    @for (skill of skillSet; track skill.name) {
    <div class="single-skill">
      <div
        *ngIf="skill.name === 'Growth Mindset'"
        class="visibility tooltip-div">
        <div class="tooltip-content">
          <div class="tooltip-span">
            <span class="span-with-Karla-100pc-400weight-lightGreen">
              {{ 'skills.special' | translate }}
            </span>
          </div>
          <div class="wanted-skills-container">
            <div class="wanted-skills-content">
              <img src="./../../../assets/img/React.png" alt="" />
              <span class="span-with-Karla-100pc-700weight">React</span>
            </div>
            <div class="wanted-skills-content">
              <img src="./../../../assets/img/Vuejs_with_color.png" alt="" />
              <span class="span-with-Karla-100pc-700weight">Vue Js</span>
            </div>
          </div>
        </div>
      </div>
      <img src="./../../../assets/img/{{ skill.imgName }}.png" alt="" />
      <span class="span-with-Karla-80pc">{{ skill.name }}</span>
    </div>
    }
  </div>
</section>
