.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

app-landing-page,
app-about-me,
app-skills,
app-featured-projects,
app-references,
app-contact-me {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

app-landing-page {
    margin-bottom: 100px;
    background-image: linear-gradient(to top right, #1C1C1C 45%, #08463B 100%);
}

@media only screen and (min-width: 925px) {
    app-landing-page {
        margin-bottom: 144px;
    }
}