.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1440px;
}

app-landing-page,
app-about-me,
app-skills,
app-featured-projects,
app-references,
app-contact-me {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

app-landing-page {
    background-image: linear-gradient(to top right, #1C1C1C 45%, #08463B 100%);
}