<section class="footer-section-mobile">
  <div class="footer-container footer-container-mobile">
    <div class="mobile-container">
      <div class="logo-info-container">
        <div (click)="backToBegin()" class="logo-container"></div>
        <div class="info-content">
          <p class="span-with-Karla-100pc-400weight">
            {{ "footer.developer" | translate }}
          </p>
          <p class="span-with-Karla-100pc-400weight">
            {{ "footer.location" | translate }}
          </p>
        </div>
      </div>
      <div class="link-container">
        <div class="links-content">
          <span></span>
          <a
            class="span-with-Karla-100pc-400weight"
            href="https://github.com/Nemesis502"
            target="_blank"
            >Github</a
          >
        </div>
        <div class="links-content">
          <span></span>
          <a
            class="span-with-Karla-100pc-400weight"
            href="https://www.linkedin.com/in/bastian-klawes-b516b0318/"
            target="_blank"
            >LinkedIn</a
          >
        </div>
        <div class="links-content">
          <span></span>
          <a
            class="span-with-Karla-100pc-400weight"
            href="mailto:bastianklawes@gmail.com"
            >Email</a
          >
        </div>
        <div class="links-content">
          <span></span>
          <a class="span-with-Karla-100pc-400weight" routerLink="/imprint">{{
            "footer.imprint" | translate
          }}</a>
        </div>
      </div>
    </div>

    <div class="copyright-container">
      <span class="firaCode-with-700Weight-64Px">© Bastian Klawes 2025</span>
      <span class="firaCode-with-700Weight-64Px"
        >© Logo designed by Laura Werner 2025</span
      >
    </div>
  </div>
</section>

<section class="footer-section-desktop">
  <div class="footer-container footer-container-desktop">
    <div class="logo-info-container">
      <div (click)="backToBegin()" class="logo-container"></div>
      <div class="info-content">
        <p class="span-with-Karla-100pc-400weight">
          {{ "footer.developer" | translate }}
        </p>
        <p class="span-with-Karla-100pc-400weight">
          {{ "footer.location" | translate }}
        </p>
      </div>
    </div>
    <div class="copyright-container">
      <span class="firaCode-with-700Weight-64Px">© Bastian Klawes 2025</span>
      <span class="firaCode-with-700Weight-64Px"
        >© Logo designed by Laura Werner 2025</span
      >
      <img src="./../../../../assets/img/Signature.png" alt="" />
    </div>
    <div class="link-container">
      <div class="links-content">
        <span></span>
        <a
          class="span-with-Karla-100pc-400weight"
          href="https://github.com/Nemesis502"
          target="_blank"
          >Github</a
        >
      </div>
      <div class="links-content">
        <span></span>
        <a
          class="span-with-Karla-100pc-400weight"
          href="https://www.linkedin.com/in/bastian-klawes-b516b0318/"
          target="_blank"
          >LinkedIn</a
        >
      </div>
      <div class="links-content">
        <span></span>
        <a
          class="span-with-Karla-100pc-400weight"
          href="mailto:bastianklawes@gmail.com"
          >Email</a
        >
      </div>
      <div class="links-content">
        <span></span>
        <a class="span-with-Karla-100pc-400weight" href="imprint">{{
          "footer.imprint" | translate
        }}</a>
      </div>
    </div>
  </div>
</section>
