<app-navbar></app-navbar>
<section data-aos="fade-right" class="imprint-section">
  <div class="imprint-container">
    <div>
      <div class="imprint-content">
        <h1 class="span-with-Karla-100pc-700weight">{{ "imprint.titel" | translate }}</h1>
        <p class="span-with-Karla-100pc-400weight">
          Bastian Klawes<br />
          Stadtweg 26,<br />
          38176 Wendeburg
        </p>
      </div>
      <div class="contact-content">
        <h2 class="span-with-Karla-100pc-400weight-lightGreen">{{ "imprint.contact" | translate }}</h2>
        <p class="span-with-Karla-100pc-400weight">
          Telefon: 01747945251<br />
          E-Mail: bastianklawes&#64;gmail.com
        </p>
      </div>
      <p class="source-content span-with-Karla-100pc-400weight">
        {{ "imprint.source" | translate }} <br />
        <a href="https://www.e-recht24.de">https://www.e-recht24.de</a>
      </p>
    </div>
    <div class="return-container">
      <a routerLink="/">
        <button class="span-with-Karla-80pc back-button">
          <span>{{ "imprint.back_button" | translate }}</span>
        </button>
      </a>
    </div>
  </div>
</section>
