@import "./../../styles.scss";

.imprint-section {
    padding: 0 16px 0 16px;
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 100px 0 100px 0;
}

.imprint-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    gap: 18px;
    border: 1px solid $light_green;
    border-radius: 30px;
    background-color: #3DCFB61A;
    padding: 40px 0 40px 0;
}


.imprint-content {
    >h1 {
        font-size: 30px
    }

    >p {
        font-size: 19px;
    }
}

.contact-content {
    >h2 {
        font-size: 30px;
    }

    >p {
        font-size: 19px;
    }
}

.source-content {
    font-size: 19px;

    >a {
        color: $light_green;
        text-decoration: none;
    }

    &:hover {
        color: $light_green;

        >a {
            color: #FFFFFF;
            border-bottom: 1px solid #3DCFB6
        }

    }
}

.return-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0px 60px 0px 32px;
    box-sizing: border-box;
}

.back-button {
    font-family: "Karla";
    background-color: transparent;
    border: 1px solid $light_green;
    border-radius: 100px;
    padding: 10px 24px 10px 24px;
    transition: border-color 300ms ease-out;
    overflow: hidden;

    >span {
        color: $light_green;
        display: inline-block;
        animation: slideText 2500ms linear forwards infinite;
        font-size: 14px;
    }

    &:hover {
        cursor: pointer;
    }
}

@keyframes slideText {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-85px);
        visibility: hidden;
    }

    51% {
        transform: translateX(85px);
        visibility: hidden;
    }

    100% {
        transform: translateX(0);
    }
}

@media only screen and (min-width: 925px) {
    .imprint-section {
        padding: 0 96px 0 96px;
    }

    .imprint-content {
        >h1 {
            font-size: 60px
        }

        >p {
            font-size: 38px;
        }
    }

    .contact-content {
        >h2 {
            font-size: 60px;
        }

        >p {
            font-size: 38px;
        }
    }

    .source-content {
        font-size: 38px;
    }

    .back-button {
        border: 1px solid #FFFFFF;
        transition: color 300ms ease-out, border-color 300ms ease-out;
        padding: 13px 24px 13px 24px;

        >span {
            display: inline-block;
            animation: none;
            color: #FFFFFF;
            font-size: 18px;
        }

        &:hover {
            cursor: pointer;
            border-color: $light_green;

            >span {
                color: $light_green;
                animation: slideText 2500ms linear forwards infinite !important;
            }
        }
    }
}