<section data-aos="fade-down" class="references-section">
  <div class="title-container">
    <h3 class="firaCode-with-700Weight-64Px">
      {{ "references.title" | translate }}
    </h3>
  </div>
  <div class="fade-shadow-container"></div>
  <div class="references-container">
    <div class="references-content">
      <div
        *ngFor="let references of displayedReferencesComments"
        class="references-comment"
      >
        <img
          class="quotes-img"
          *ngIf="references.id === 1"
          src="./../../../assets/img/quotes.png"
          alt=""
        />
        <div
          class="references"
          [ngClass]="{
            'penultimate-comment': references.id === 0,
            'highlight-comment': references.id === 1,
            'next-comment': references.id === 2,
            'direction-left': animate && direction === 'left',
            'direction-right': animate && direction === 'right'
          }"
        >
          <span
            [ngClass]="{ 'span-animation': isTouchDevice }"
            class="span-with-Karla-100pc-400weight"
          >
            {{ references.descriptionKey | translate }}
          </span>
          <div class="references-name">
            <div class="blank"></div>
            <span
              [ngClass]="{ 'span-animation': isTouchDevice }"
              class="span-with-Karla-100pc-400weight"
            >
              {{ references.nameKey | translate }} -
              {{ references.rangKey | translate }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navigator-container">
    <div (click)="nextReferences('left')" class="left-arrow-container">
      <img
        class="default-arrows"
        src="./../../../assets/img/Left_arrow.png"
        alt=""
      />
      <img
        class="hover-arrows"
        src="./../../../assets/img/Left_hover.png"
        alt=""
      />
    </div>
    <p
      *ngFor="let dot of [0, 1, 2]; let i = index"
      [ngClass]="{ 'not-selected': i !== activeReferenceIndex }"
    ></p>
    <div (click)="nextReferences('right')" class="right-arrow-container">
      <img
        class="default-arrows"
        src="./../../../assets/img/Right_arrow.png"
        alt=""
      />
      <img
        class="hover-arrows"
        src="./../../../assets/img/Right_hover.png"
        alt=""
      />
    </div>
  </div>
</section>
