<section class="references-section">
  <div class="title-container">
    <h3 class="firaCode-with-700Weight-64Px">
      What my colleagues say about me
    </h3>
  </div>
  <div class="references-container">
    <div class="references-content">
      <div class="references-comment">
        <img class="quotes-img" src="./../../../assets/img/quotes.png" alt="" />
        <div class="references">
          <span class="span-with-Karla-100pc-400weight">
            Our project benefited enormously from Bastian efficient way of working.
          </span>
          <div class="references-name">
            <div class="blank"></div>
            <span class="span-with-Karla-100pc-400weight">
              W.Fröhlich - Team Partner
            </span>
          </div>
        </div>
      </div>
      <div class="references-comment">
        <div class="references">
          <span class="span-with-Karla-100pc-400weight">
            Bastian has proven to be a reliable group partner. His technical
            skills and proactive approach were crucial to the success of our
            project.
          </span>
          <div class="references-name">
            <div class="blank"></div>
            <span class="span-with-Karla-100pc-400weight">
              R.Matthes - Team Partner
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="navigator-container">
      <div class="left-arrow-container">
        <img
          class="default-arrows"
          src="./../../../assets/img/Left_arrow.png"
          alt=""
        />
        <img
          class="hover-arrows"
          src="./../../../assets/img/Left_hover.png"
          alt=""
        />
      </div>
      <p></p>
      <p class="not-selected"></p>
      <p class="not-selected"></p>
      <div class="right-arrow-container">
        <img
          class="default-arrows"
          src="./../../../assets/img/Right_arrow.png"
          alt=""
        />
        <img
          class="hover-arrows"
          src="./../../../assets/img/Right_hover.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
