@import "./../../../styles.scss";

.dark-white {
    color: #FFFFFFCC;
}

.references-section {
    // height: 452px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 144px;
}

.title-container {
    display: flex;
    justify-content: center;
    // margin-bottom: 48px;
    margin: 0 16px 32px 16px;

    >h3 {
        font-size: 24px;
        // font-size: 32px;
        letter-spacing: 0;
        margin: 0;
        text-align: center;
    }
}

.fade-shadow-container {
    width: 100%;
    height: 388px; // only for mobile
    // height: 362px;
    position: absolute;
    background: linear-gradient(90deg, rgba(28, 28, 28, 1) 0%, rgba(28, 28, 28, 0) 10%, rgba(28, 28, 28, 0) 90%, rgba(28, 28, 28, 1) 100%);
    z-index: 1;
    display: none;
}

.references-container {
    // height: 442px;
    // height: 362px;
    margin-bottom: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    // justify-content: flex-end;
}

.navigator-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    // z-index: 2;
    justify-content: center;

    >p {
        margin: 0;
        display: block;
        height: 6.5px;
        width: 6.5px;
        background-color: $light_green;
        border-radius: 59%;
    }

    .not-selected {
        background-color: #FFFFFF;
    }
}

.left-arrow-container,
.right-arrow-container {
    height: 40px;
    position: relative;

    &:hover {
        cursor: pointer;

        .default-arrows {
            animation: fadeOut 90ms ease-in forwards;
        }

        .hover-arrows {
            animation: fadeIn 90ms ease-in forwards;
        }
    }
}

// .penultimate-comment.direction-left {
//     animation: penultimate-left 500ms ease-out forwards;
// }

// .penultimate-comment.direction-right {
//     animation: penultimate-right 500ms ease-out forwards;
// }

// .highlight-comment.direction-left {
//     animation: highlight-left 500ms ease-out forwards;
// }

// .highlight-comment.direction-right {
//     animation: highlight-right 500ms ease-out forwards;
// }

// .next-comment.direction-left {
//     animation: next-left 500ms ease-out forwards;
// }

// .next-comment.direction-right {
//     animation: next-right 500ms ease-out forwards;
// }

.references-content {
    // height: 274px;
    width: 280px;
    display: flex;
    flex-direction: row;
    gap: 64px;
    justify-content: center;
    // position: absolute;
    // top: 20px;
    // left: -333px; // only for mobile
    // left: -283px;
}

.references-comment {
    // height: 274px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.quotes-img {
    width: 89px;
    height: 64px;
    position: absolute;
    top: -8px;
    right: -100px;
    z-index: 1;
}

.references {
    width: 280px;
    height: 360px;
    // width: 632px;
    // height: 274px;
    border-radius: 32px;
    border: 1px solid #3DCFB6;
    background-color: #3DCFB64D;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // gap: 44px;

    >span {
        // width: 552px;
        // height: 112px;
        font-size: 16px; // only for mobile
        // font-size: 20px;
        padding: 40px 40px 0 40px; // only for mobile
        height: 260px;
        // padding: 40px 40px 0 40px;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        opacity: 0;
        animation: fadeIn 500ms ease-in forwards;
    }

    >img {
        position: absolute;
        top: -16px;
        left: 0px;
        width: 66px;
        height: 48px;
    }
}

.references-not-focus {
    background-color: #3DCFB61A;
}



.references-name {
    // width: 552px;
    height: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding: 0 30px 40px 30px;

    >span {
        // width: 250px;
        font-size: 12px; // only for mobile
        opacity: 0;
        animation: fadeIn 500ms ease-in forwards;
    }
}

.blank {
    height: 0;
    width: 38px;
    // width: 335px;
    border-radius: 32px;
    border: 1px solid #FFFFFF;
}

.blank-not-focused {
    border: 1px solid #FFFFFFCC;
}

.default-arrows {
    opacity: 1;
    position: absolute;
}

.hover-arrows {
    opacity: 0;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes penultimate-left {
    0% {
        right: 0px;
    }

    50% {
        right: -348px;
    }

    100% {
        right: -697px;
    }
}

// @keyframes penultimate-right {
//     0% {
//         right: 0px;

//     }

//     100% {
//         right: -1395px;

//     }
// }

// @keyframes highlight-left {
//     0% {
//         right: 0px;
//     }

//     50% {
//         right: -348px;
//     }

//     100% {
//         right: -697px;
//     }
// }

// @keyframes highlight-right {
//     0% {
//         left: 0px;
//     }

//     50% {
//         left: -348px;
//     }

//     100% {
//         left: -697px;
//     }
// }

// @keyframes next-left {
//     0% {
//         left: 0px;

//     }

//     100% {
//         left: -1395px;

//     }
// }

// @keyframes next-right {
//     0% {
//         left: 0px;
//     }

//     50% {
//         left: -348px;
//     }

//     100% {
//         left: -697px;
//     }
// }