<nav class="navbar-responsive-container">
  <div class="nav-responsive-content fontFira">
    <div class="logo-responsive-container" (click)="changeLogo()">
      <div *ngIf="defaultResponsiveLogo" class="logo-content-default"></div>
      <div *ngIf="!defaultResponsiveLogo" class="logo-content-dark"></div>
    </div>
    <div class="menu-responsive-container" (click)="switchMenu()">
      <div *ngIf="menuIsClose" class="menu-responsive-content-default"></div>
      <div *ngIf="!menuIsClose" class="menu-responsive-content-click"></div>
    </div>
  </div>
</nav>
<section
  (click)="switchMenu()"
  *ngIf="dialogVisible && !menuIsClose"
  class="nav-menu-container"
>
  <div class="menu-content" (click)="$event.stopPropagation()">
    <div class="internal-links-menu">
      <a
        (click)="scrollToSection('about-me')"
        class="firaCode-with-700Weight-64Px"
        >{{ "navbar.me" | translate }}</a
      >
      <span></span>
    </div>
    <div class="internal-links-menu">
      <a
        (click)="scrollToSection('skills')"
        class="firaCode-with-700Weight-64Px"
        >{{ "navbar.skills" | translate }}</a
      >
      <span></span>
    </div>
    <div class="internal-links-menu">
      <a
        (click)="scrollToSection('projects')"
        class="firaCode-with-700Weight-64Px"
        >{{ "navbar.projects" | translate }}</a
      >
      <span></span>
    </div>
    <div (click)="changeLanguage(currentLanguage)" class="button-container">
      <button [ngClass]="{ 'highlight-button': currentLanguage == 'en' }">
        EN
      </button>
      <button [ngClass]="{ 'highlight-button': currentLanguage == 'de' }">
        DE
      </button>
    </div>
  </div>
</section>

<nav class="navbar-container hidden">
  <div class="nav-content fontFira">
    <div (click)="changeLanguage(currentLanguage)" class="button-container">
      <button [ngClass]="{ 'highlight-button': currentLanguage == 'en' }">
        EN
      </button>
      <button [ngClass]="{ 'highlight-button': currentLanguage == 'de' }">
        DE
      </button>
    </div>
    <section class="nav-links-container">
      <div class="internal-links">
        <a (click)="goTo('about-me')">{{ "navbar.me" | translate }}</a>
        <span></span>
      </div>
      <div class="internal-links">
        <a (click)="goTo('about-me')">{{ "navbar.skills" | translate }}</a>
        <span></span>
      </div>
      <div class="internal-links">
        <a (click)="goTo('about-me')">{{ "navbar.projects" | translate }}</a>
        <span></span>
      </div>
    </section>
  </div>
  <div class="logo-container"></div>
</nav>
