@import "./../../../../styles.scss";

.navbar-responsive-container {
    height: 50px;
    margin: 32px 16px 0 16px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 96px 25px 96px;
    max-width: 1440px;
    height: 98px;
    background-image: linear-gradient(#00000099, #00000000);
}

.nav-content {
    display: flex;
    gap: 24px;
    flex-direction: row;
    align-items: center;
}

.nav-responsive-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.button-container {
    border: 1px solid #3DCFB6;
    border-radius: 100px;
    height: 28px;
    width: 84px;
    display: flex;
    justify-content: center;
    transition: filter 300ms ease-out;

    &:hover {
        filter: brightness(1.20);
    }

    >button {
        background-color: transparent;
        border: none;
        color: #3DCFB680;
        width: 44px;
        cursor: pointer;
    }
}

.logo-responsive-container {
    height: 48px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-content-default,
.logo-content-dark {
    height: 30px;
    width: 35px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:hover {
        cursor: pointer;
    }
}

.logo-content-default {
    background-image: url('./../../../../assets/img/Logo_default.png');
}

.logo-content-dark {
    background-image: url('./../../../../assets/img/Logo_dark.png');
}

.menu-responsive-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
}

.menu-responsive-content-default,
.menu-responsive-content-click {
    height: 36px;
    width: 36px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:hover {
        cursor: pointer;
    }
}

.menu-responsive-content-default {
    background-image: url('./../../../../assets/img/Menu_icon.png');
}

.menu-responsive-content-click {
    background-image: url('./../../../../assets/img/menu-click.png');
}

.nav-menu-container {
    position: fixed;
    display: flex;
    background-color: rgba(0, 0, 0, 0.374) !important;
    z-index: 999;
    inset: 0;
    justify-content: center;
}

.menu-content {
    width: 238px;
    height: 252px;
    margin: 85px 0 0 50px;
    border-radius: 30px;
    border: 1px solid $light_green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-image: linear-gradient(to top right, $medium_black 45%, $dark_green 100%);
}

.internal-links-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;

    >span {
        transition: opacity 300ms ease-out;
        display: block;
        height: 6.5px;
        width: 6.5px;
        background-color: $light_green;
        border-radius: 59%;
        top: 24px;
        right: 32px;
        opacity: 0;
    }

    >a {
        color: #FFFFFF;
        text-decoration: none;
        font-weight: 400;
        font-size: 20px;
        cursor: pointer;
    }

    &:hover {
        >a {
            color: $light_green;
        }

        >span {
            opacity: 1;
        }
    }
}

.logo-container {
    position: relative;
    height: 70px;
    width: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: opacity 300ms ease-out;
    }

    &::before {
        background-image: url('./../../../../assets/img/DefaultLogo.png');
        opacity: 1;
    }

    &::after {
        background-image: url('./../../../../assets/img/HoverLogo.png');
        opacity: 0;
    }

    &:hover {
        cursor: pointer;

        &::before {
            opacity: 0;
        }

        &::after {
            opacity: 1;
        }
    }
}

.highlight-button {
    border-radius: 100px;
    background-color: $light_green !important;
    color: #FFFFFF !important;
}

.nav-links-container {
    display: flex;
    gap: 24px;
}

.internal-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;

    >a {
        color: #FFFFFF;
        text-decoration: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: -3px;
        cursor: pointer;
    }

    >span {
        transition: opacity 300ms ease-out;
        display: block;
        height: 6.5px;
        width: 6.5px;
        background-color: $light_green;
        border-radius: 59%;
        position: absolute;
        top: 22px;
        opacity: 0;
    }

    &:hover {
        >span {
            opacity: 1;
        }
    }
}

.hidden {
    display: none;
}

@media only screen and (min-width: 925px) {
    .hidden {
        display: flex;
    }

    .navbar-responsive-container {
        display: none;
    }
}