<nav class="navbar-container">
  <div class="nav-content fontFira">
    <div (click)="changeLanguage()" class="button-container">
      <button [ngClass]="{'highlight-button': currentLanguage == 'EN'}">EN</button>
      <button [ngClass]="{'highlight-button': currentLanguage == 'DE'}">DE</button>
    </div>
    <section class="nav-links-container">
      <div class="internal-links">
        <a href="#about-me">About me</a>
        <span></span>
      </div>
      <div class="internal-links">
        <a href="#skills">Skills</a>
        <span></span>
      </div>
      <div class="internal-links">
        <a href="#projects">Projects</a>
        <span></span>
      </div>
    </section>
  </div>
  <div class="logo-container">
  </div>
</nav>
