@import "./../../../../styles.scss";

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 96px 25px 96px;
    max-width: 1440px;
    height: 98px;
    background-image: linear-gradient(#00000099, #00000000);
}

.nav-content {
    display: flex;
    gap: 24px;
    flex-direction: row;
    align-items: center;


}

.button-container {
    border: 1px solid #3DCFB6;
    border-radius: 100px;
    height: 28px;
    width: 84px;
    display: flex;
    justify-content: center;

    &:hover {
        filter: brightness(1.20);
    }

    >button {
        background-color: transparent;
        border: none;
        color: #3DCFB680;
        width: 44px;
        cursor: pointer;
    }


}

.highlight-button {
    border-radius: 100px;
    background-color: $light_green !important;
    color: #FFFFFF !important;
}

.nav-links-container {
    display: flex;
    gap: 24px;

}

.internal-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;

    >a {
        color: #FFFFFF;
        text-decoration: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: -3px;
        cursor: pointer;
    }

    &:hover>span {
        display: block;
        height: 6.5px;
        width: 6.5px;
        background-color: $light_green;
        border-radius: 59%;
        position: absolute;
        top: 22px;
    }
}

.hidden {
    display: none;
}

.logo-container {
    height: 67px;
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    &:hover {
        cursor: pointer;

        .default {
            display: none;
        }

        .hover {
            display: block;
        }

    }

}

.logo-img {
    height: 72px;
    width: 107px;
}

.logo-name {
    height: 72px;
    width: 120px;
}

.default {
    display: block;
}

.hover {
    display: none;
}