<nav class="navbar-responsive-container">
  <div class="nav-responsive-content fontFira">
    <div *ngIf="defaultResponsiveLogo"; else elseDiv class="logo-responsive-container">
      <img src="./../../../../assets/img/Logo_default.png" alt="">
      <ng-template #elseDiv>Content to render when condition is false.</ng-template>
    </div>
    <div class="menu-responsive-container">
    </div>
  </div>
</nav>
<section class="nav-links-container hidden">
  <div class="internal-links">
    <a href="#about-me">{{ 'navbar.me' | translate }}</a>
    <span></span>
  </div>
  <div class="internal-links">
    <a href="#skills">{{ 'navbar.skills' | translate }}</a>
    <span></span>
  </div>
  <div class="internal-links">
    <a href="#projects">{{ 'navbar.projects' | translate }}</a>
    <span></span>
  </div>
  <div (click)="changeLanguage(currentLanguage)" class="button-container">
    <button [ngClass]="{'highlight-button': currentLanguage == 'en'}">EN</button>
    <button [ngClass]="{'highlight-button': currentLanguage == 'de'}">DE</button>
  </div>
</section>

<nav class="navbar-container hidden">
  <div class="nav-content fontFira">
    <div (click)="changeLanguage(currentLanguage)" class="button-container">
      <button [ngClass]="{'highlight-button': currentLanguage == 'en'}">EN</button>
      <button [ngClass]="{'highlight-button': currentLanguage == 'de'}">DE</button>
    </div>
    <section class="nav-links-container">
      <div class="internal-links">
        <a href="#about-me">{{ 'navbar.me' | translate }}</a>
        <span></span>
      </div>
      <div class="internal-links">
        <a href="#skills">{{ 'navbar.skills' | translate }}</a>
        <span></span>
      </div>
      <div class="internal-links">
        <a href="#projects">{{ 'navbar.projects' | translate }}</a>
        <span></span>
      </div>
    </section>
  </div>
  <div class="logo-container">
  </div>
</nav>
