/* You can add global styles to this file, and also import other style files */

$dark_green: #08463B;
$medium_black: #1C1C1C;
$light_green: #3DCFB6;


.fontFira {
  font-family: 'Fira Code';
}

.fontKarla {
  font-family: 'Karla';
}

.span-with-Karla-100pc-400weight {
  color: #FFFFFF;
  font-family: 'Karla';
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0;
}

.span-with-Karla-80pc {
  font-family: 'Karla';
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0;
  color: #FFFFFFCC;
}

.span-with-Karla-100pc-400weight-lightGreen {
  color: $light_green;
  font-family: 'Karla';
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0;
}

.span-with-Karla-100pc-700weight {
  color: $light_green;
  font-family: 'Karla';
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
}

.firaCode-with-700Weight-64Px {
  font-family: 'Fira Code';
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -3px;
  color: $light_green;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  cursor: url("././assets/img/arrow_selector_tool.png"), default;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgba(28, 28, 28, 1);
}

@media only screen and (min-width: 925px) {
  body {
    overflow-x: hidden;
  }

}

.flex-colum-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

app-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

app-imprint,
app-privacypolicy {
  width: 100%;
  background-image: linear-gradient(to top right, #1C1C1C 45%, #08463B 100%);
}

app-imprint {
  height: 100%;
}

.overflow_hidden {
  overflow: hidden;
}

.hidden {
  display: none;
}

/* fira-code-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/fira-code-v22-latin-300.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-code-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/fira-code-v22-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-code-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/fira-code-v22-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-code-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/fira-code-v22-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* karla-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/karla-v31-latin-300.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* karla-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/karla-v31-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* karla-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/karla-v31-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* karla-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/karla-v31-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* karla-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/karla-v31-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}